/* -------- Universal css ---------- */
::selection {
    background-color: #FF8D29;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    list-style: noe;
    text-decoration: none;
    box-sizing: border-box;

}

/* -------------- Styling of Line ----------- */
.line {
    width: 100%;
    height: 0.5px;
    background-color: white;
}

/* ------ Styling for Header ------- */
.container {
    width: 90%;
    margin: auto;
}

.header .container {
    color: #F1D6C6;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    border: none;
    height: 90px;
    width: 100%;
    padding: 0 5%;
    position: relative;
}

.header h1 {
    color: black;
    cursor: pointer;
    font-size: 30px;
    font-size: 900;
}

.header h1 span {
    color: #FF8D29;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin-right: 2vw;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: black;
    font-weight: 600;
    transition-duration: 0.4s;
    font-size: 15px;
}

.navbar ul li a:hover {
    color: #FF8D29;
}

.navbar button {
    background-color: #FF8D29;
    border: none;
    cursor: pointer;
    color: white;
    width: 150px;
    height: 45px;
    margin-left: 50px;
    transition-duration: 0.3s;
}

.navbar button:hover {
    background-color: black;
}

/* ------------- Styling of background Section --------------- */
.background_section {
    width: 100%;
    /* position: absolute; */
}

.background_section .bg-image {
    position: absolute;
    top: 0;
    height: 120vh;
    z-index: -1;
    width: 100%;
}

.bg-content .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-content .left {
    color: white;
    text-align: start;
    width: 50%;
    padding: 10% 0;

}

.bg-content .left p.first-para {
    color: #FF8D29;
    font-family: "Shadows Into Light";
    font-size: 30px;
    margin-bottom: 1.8rem;
}

.bg-content .left h2 {
    font-size: 60px;
    color: #F1D6C6;
    line-height: 70px;
}

.bg-content .left p.scnd-para {
    font-size: 18px;
    color: #F1D6C6;
    margin-top: 1.8rem;
    line-height: 30px;
    margin-bottom: 1.8rem;
    width: 85%;
}

.bg-content button {
    border: none;
    background-color: #FF8D29;
    color: white;
    width: 170px;
    height: 45px;
    transition: all 0.4s ease;
    font-weight: 600;
}

.bg-content button:hover {
    background-color: white;
    color: black;
}

.bg-content .container .right {
    width: 50%;
}

/* .bg-content .container .right::before {
    content: url("https://rj-burgers.netlify.app/assets/images/hero-bg-shape.png");
    height: 1500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;

} */

.bg-content .container .right .burger-2 {
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    width: 73.5vw;
    padding-top: 2%;
}

.bg-content .container .right .burger-3 {
    position: absolute;
    z-index: 5;
    width: 50%;
    top: 30%;
}

.bg-content .container .right .main_burger {
    position: absolute;
    z-index: 10;
    width: 40%;
    top: 45%;
    right: 8%;

}

/* --------- Styling of second of  ----------- */
.second_section {
    background-color: #F9F6F0;
    width: 100%;
    height: auto;
}

.second_section .carts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    gap: 10px;
    margin-top: 130px;
}

.second_section .carts .cart {
    width: 260px;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: white;
    margin: 100px 0;
}

.cart_image {
    height: 80px;
    overflow: hidden;
    margin-top: 30px;
}

.second_section .carts .cart .cart_image img {
    margin-left: 35%;
    width: 100%;
}

.second_section .carts .cart img.plate {
    margin-left: 1%;
}

.second_section .carts .cart h3 {
    margin-top: 0;
    font-size: 22px;
    color: #0D1216;
    margin-bottom: 20px;
}

.second_section .carts .cart p {
    color: #787878;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin: 0px 20px;
    margin-bottom: 70px;
}

.bg-yellow {
    height: 120px;
    width: 100%;
    background-color: #FF8D29;
    margin-top: 100px;
}

.bg-yellow img {
    width: 90%;
    position: relative;
    top: -150px;
}

/* Styling of third section */
.third_sectioin {
    background-image: url(https://rj-burgers.netlify.app/assets/images/hero-bg.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 5%;
    position: relative;
}

.third_sectioin .left {
    width: 50%;
    text-align: start;

}

.third_sectioin .left h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    line-height: 45px;
    margin-bottom: 20px;
}

.third_sectioin .left h1 span {
    color: #FF8D29;
}

.third_sectioin .left p {
    font-size: 18px;
    line-height: 30px;
    color: white;
    margin-bottom: 20px;
}

.third_sectioin .left button {
    background-color: #FF8D29;
    color: white;
    border: none;
    height: 45px;
    width: 140px;
    font-weight: 600;
    transition-duration: 0.3s;
}

.third_sectioin .left button:hover {
    background-color: black;
}

.third_sectioin .right {
    width: 50%;
    overflow: hidden
}

.third_sectioin .right img {
    position: absolute;
    top: -30px;
    right: 0px;
    width: 50%;
}

.third_sectioin .right img.discount {
    width: 15%;
    right: 30%;
    top: 5px;
    animation: scale 1s linear infinite alternate;
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* ------- Styling of last section -------- */
.last_section {
    background-color: #F9F6F0;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}

.text {
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
}

.last_section .Latest {
    color: #F42F25;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-top: 120px;
}

.last_section h2 {
    font-size: 40px;
    font-weight: 650;
}

.last_section h2 span {
    color: #FF8D29;
}

.last_section p.simple {
    color: #787878;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.inform {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    text-align: start;
    padding: 30px 30px;
    width: 100%;

}

.inform-card {
    background-color: white;
    width: 400px;
    overflow: hidden;
    padding: 30px 20px;

}

.inform-card img {
    transition-duration: 0.3s;
}

.inform-card img:hover {
    transform: scale(1.1);
}

.inform-card img {
    width: 100%;

}

.date {
    margin-bottom: 20px;
    margin-top: 20px;
}

.date span {
    font-weight: 600;
    font-size: 14px;

}

.date span i {
    color: #FF8D29;
    font-weight: 600;
    margin-right: 10px;
}

.inform h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.inform p {
    color: #787878;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 20px;
}

.inform a {
    color: rgb(26, 25, 25);
    font-weight: 600;
    font-size: 12px;
    transition-duration: 0.3s;
}

.inform a:hover {
    color: #FF8D29;
}

/* -------- Styling of Footer -------------- */
footer {
    width: 100%;
    overflow: hidden;
    overflow-y: hii;
}

.footer {
    height: 650px;
    background-color: white;
    width: 100%;
    background-image: url(https://rj-burgers.netlify.app/assets/images/footer-illustration.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.footer .name h1 {
    font-size: 30px;
    font-weight: 900;
}

.footer .name .social-media span a i {
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    transition-duration: 0;
    background-color: #FF8D29;
}

.social-media span a {
    color: white;
}


.footer div {
    width: 250px;
}

.footer .name h1 span a {
    color: #FF8D29;
}

.footer div p {
    color: #787878;
    line-height: 26px;
    font-size: 16px;
    margin-top: 10px;
}

form {

    border: 2px solid #EDEDED;
    padding: 10px 5px;
    width: 350px;
}

form input {
    width: 140px;
    margin: 10px;
    border: 2px solid #EDEDED;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}

textarea {
    font-size: 16px;
    color: #989595;
    width: 91%;
    border: 2px solid #EDEDED;
    margin-left: 15px;
    padding: 15px;
}

form h1 {
    margin-bottom: 20px;
    font-size: 22px;
    margin-top: 20px;
    padding-left: 10px;
}

form button {
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: #FF8D29;
    color: white;
    border: none;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    margin-left: 20px;
    transition-duration: 0.4s;
}

form button:hover {
    background-color: black;
}

.position {
    position: relative;
    top: 0px;
    background-color: white;
}

footer .cyecle img {
    width: 150px;
}


footer .cyecle {
    animation: move 10s ease-in 2s normal infinite;
    position: relative;
    z-index: 6;
    bottom: 127px;
    height: 0px;
}

@keyframes move {
    from {

        left: -150px;

    }


    to {

        left: 91%;
    }
}

.copyright {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #989595;
}

.copyright p {
    text-align: center;
    color: #968c8c;
}

.copyright p a {
    margin: 0 6px;
    /* font-weight: bold; */
    transition-duration: 0.3s;
    color: #787878;
}

.copyright p a:hover {
    text-decoration: none;
    font-weight: normal;
    color: black;
    text-decoration: underline;
}